<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wigle To TAK</title>
    <style>
        body {
            background-color: black;
            color: yellow;
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 20px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input {
            padding: 5px;
            margin-top: 5px;
            width: 75%;
        }

        button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }
        
        #saveTAKServerButton,
        #addToWhitelistButton,
        #addToBlacklistButton,
        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
        }

        #takMulticastToggle,
        #analysisModeToggle {
            font-size: 18px;
            width: 200px;
        }

        #takMulticastToggle.true-state,
        #analysisModeToggle.realtime-state {
            background-color: green;
            color: whitesmoke;
        }

        #takMulticastToggle.false-state,
        #analysisModeToggle.postcollection-state {
            background-color: red;
            color: whitesmoke;
        }

        .group-container {
            border: 2px solid yellow;
            padding: 20px;
            border-radius: 10px;
            margin: 0 10px 10px 0;
            text-align: left;
            max-width: 100%;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
        }

        .read-me-box {
            border: 2px solid yellow;
            border-radius: 10px;
            padding: 15px;
            margin-top: 10px;
            max-width: 40%;
            width: calc(100% - 20px);
            box-sizing: border-box;
        }

        .line-item-wigleDirectory {
            margin-bottom: 50px;
            margin-top: 50px;
        }

        .line-item-wigleWhitelist {
            margin-bottom: 50px;
            margin-top: 50px;
        }

        .line-item-wigleBlacklist {
            margin-bottom: 50px;
            margin-top: 50px;
        }

        .line-item-kraken-wigleFile {
            margin-bottom: 50px;
            margin-top: 50px;
        }
        .line-item-tak {
            margin-bottom: 50px;
            margin-top: 50px;
        }
        .line-item-ignore {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .stop-button,
        #removeFromWhitelistButton,
        #removeFromBlacklistButton {
            background-color: red !important;
            color: white;
            /* Add any other styles as needed */
        }
    </style>
</head>

<body>
    <div class="flex-container">
        <div class="groups-column">
            <h1>Wigle To TAK</h1>
            <div class="group-container">
                <label for="takServerIpInput">TAK Destination IPv4:</label>
                <input type="text" id="takServerIpInput" placeholder="Default 0.0.0.0">
                <label for="takServerPortInput">TAK Destination Port:</label>
                <input type="text" id="takServerPortInput" placeholder="Default 6666">
                <button id="saveTAKServerButton" type="button">Save</button>
                <label for="takMulticastToggle">On/Off Multicast</label>
                <button id="takMulticastToggle" class="true-state">Broadcasting</button>
            </div>

            <div class="group-container">
                <form id="directoryForm" action="/start_broadcast" method="post">
                    <label for="directory">Wigle CSV logs directory:</label>
                    <input type="text" id="directory" placeholder="Enter directory path (/opt/kismet)" style="width: 100%;">
                    <button type="submit">Submit</button>
                </form>
                <form id="selectFileForm" action="/start_broadcast" method="post">
                    <label for="selectWigle">WigleCSV file to use:</label>
                    <select id="selectWigle" name="filename" style="width: 100%;">
                        <!-- Options populate dynamically -->
                    </select>
                    <button type="submit">Start</button>
                    <button id="stopBroadcastButton" class="stop-button" type="button">Stop</button>
                </form>
                <label for="analysisModeToggle">Analysis Mode</label>
                <button id="analysisModeToggle" class="realtime-state">Real-time</button>
            </div>
            <div class="group-container">
                <label for="macWhitelistInput">MAC Whitelist:</label>
                <input type="text" id="macWhitelistInput" placeholder="Enter MAC address">
                <button id="addToWhitelistButton" type="button">Add to Whitelist</button>
                <button id="removeFromWhitelistButton" type="button">Remove from Whitelist</button>
                <select id="whitelistDropdown" style="width: 100%;">
                    <!-- Whitelist options populate dynamically -->
                </select>
            </div>
            <div class="group-container">
                <label for="macBlacklistInput">MAC Blacklist:</label>
                <input type="text" id="macBlacklistInput" placeholder="Enter MAC address">
                <label for="argbBlacklistInput">ARGB Color:</label>
                <input type="text" id="argbBlacklistInput" placeholder="Enter ARGB value">
                <button id="addToBlacklistButton" type="button">Add to Blacklist</button>
                <button id="removeFromBlacklistButton" type="button">Remove from Blacklist</button>
                <select id="blacklistDropdown" style="width: 100%;">
                    <!-- Blacklist options populate dynamically -->
                </select>
            </div>
        </div>
        <div class="read-me-box">
            <h2>This application is designed to read a file ending with .wiglecsv and plot the device to TAK clients. This can be done real-time or as a post collection activity.</h2>
            <div>Considerations:</div>
            <div>*The easiest configuration is to have this application on the same server as Kismet or other WigleCSV creating device.</div>
            <div>*Start your Kismet or other WigleCSV device.</div>
            <div>*Ensure your GPS or location service is up and running and configured.</div>
            <div>*Ensure you have the *.wiglecsv file going to a directory that you can access from this application.</div>
            <div class="line-item-tak">
            - TAK Server IPv4 is the IP address of your TAK Server.
            </div>
            <div class="line-item-tak">
            - TAK Server Port is the port you assigned on your TAK Server to be the input for this data.
            </div>
            <div class="line-item-tak">
            - On/Off Multicast is enabled by default. The toggle controls sending packets to the TAK SA multicast default 239.2.3.1:6969.
            </div>
            <div class="line-item-wigleDirectory">
            - Enter the absolute path to the directory that you have your WigleCSV files. Ensure your directory does not require root or sudo.
            </div>
            <div class="line-item-kraken-wigleFile">
            - Select the WigleCSV that you would like to parse and display to your TAK client(s).
            <div>- The start button will begin the parse-send loop.</div>
            <div>- The stop button will terminate the parse-send loop.</div>
            <div>- The default Analysis Mode is Real-Time. If processing large files in a post-collection situation toggle to Post-Collection.</div>
            </div>
            <div class="line-item-wigleWhitelist">
                - MAC Whitelist is a field to enter MAC addresses you do not want to display.
            </div>
            <div class="line-item-wigleBlacklist">
                - MAC Blacklist is a field to enter MAC addresses you want to display in a different color.
                <div>* -65281 is purple, which is the default color... so don't use that.</div>
                <div>* -256 is yellow.</div>
                <div>* -65536 is red.</div>
                <div>* -16776961 is blue.</div>
                <div>* -23296 is orange.</div>
                <div>- You can do other colors too. Easiest to look at the spot map dropper to see which colors are supported in your TAK client.</div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Helper function to send fetch request
            function sendFetch(url, method, body) {
                return fetch(url, {
                    method: method,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(body)
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Error: ' + response.statusText);
                    }
                });
            }

            // Initialize TAK Multicast toggle state
            var takMulticastToggle = true;
            var multicastButton = document.getElementById("takMulticastToggle");
            multicastButton.addEventListener("click", function () {
                takMulticastToggle = !takMulticastToggle;
                if (takMulticastToggle) {
                    multicastButton.classList.add("true-state");
                    multicastButton.classList.remove("false-state");
                    multicastButton.innerHTML = "Broadcasting";
                } else {
                    multicastButton.classList.add("false-state");
                    multicastButton.classList.remove("true-state");
                    multicastButton.innerHTML = "Not sending multicast";
                }
                sendFetch('/update_settings', 'POST', { takMulticast: takMulticastToggle })
                    .then(data => {
                        console.log(data);
                        alert("Settings updated successfully!");
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Error: " + error.message);
                    });
            });

            // Initialize Analysis Mode toggle state
            var analysisMode = 'realtime';
            var analysisModeButton = document.getElementById("analysisModeToggle");
            analysisModeButton.addEventListener("click", function () {
                if (analysisMode === 'realtime') {
                    analysisMode = 'postcollection';
                    analysisModeButton.classList.add("postcollection-state");
                    analysisModeButton.classList.remove("realtime-state");
                    analysisModeButton.innerHTML = "Post-collection";
                } else {
                    analysisMode = 'realtime';
                    analysisModeButton.classList.add("realtime-state");
                    analysisModeButton.classList.remove("postcollection-state");
                    analysisModeButton.innerHTML = "Real-time";
                }
                sendFetch('/update_settings', 'POST', { mode: analysisMode })
                    .then(data => {
                        console.log(data);
                        alert("Analysis mode updated successfully!");
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Error: " + error.message);
                    });
            });

            // Function to save TAK Server IP and Port
            var saveTakStuff = function () {
                var newTAKServerIP = document.getElementById("takServerIpInput").value;
                var newTAKServerPort = document.getElementById("takServerPortInput").value;
                if (newTAKServerIP.trim() !== "" && /^\d+$/.test(newTAKServerPort.trim())) {
                    sendFetch('/update_settings', 'POST', { tak_server_ip: newTAKServerIP, tak_server_port: newTAKServerPort })
                        .then(data => {
                            console.log(data);
                            alert("TAK Server IP and Port updated successfully!");
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert("Error: " + error.message);
                        });
                } else {
                    alert("Please enter both a valid TAK Server IP and Port before saving.");
                }
            }
            document.getElementById("saveTAKServerButton").addEventListener("click", saveTakStuff);

            // Event listener for "Start" button
            document.getElementById("selectFileForm").addEventListener("submit", function(event) {
                event.preventDefault();
                var directoryPath = document.getElementById("directory").value;
                var selectedFilename = document.getElementById("selectWigle").value;
                if (selectedFilename && directoryPath) {
                    sendFetch('/start_broadcast', 'POST', { filename: selectedFilename, directory: directoryPath })
                        .then(data => {
                            console.log(data);
                            alert("Broadcast started for file: " + selectedFilename);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert("Error: " + error.message);
                        });
                } else {
                    alert("Please select both a directory and a filename.");
                }
            });

            // Event listener for "Stop Broadcast" button
            document.getElementById("stopBroadcastButton").addEventListener("click", function(event) {
                event.preventDefault();
                sendFetch('/stop_broadcast', 'POST', {})
                    .then(data => {
                        console.log(data);
                        alert("Broadcast stopped successfully");
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Error: " + error.message);
                    });
            });

            // Event listener for retrieving the list of files
            document.getElementById("directoryForm").addEventListener("submit", function(event) {
                event.preventDefault();
                var directoryPath = document.getElementById("directory").value;
                fetch('/list_wigle_files?directory=' + encodeURIComponent(directoryPath))
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Error: ' + response.statusText);
                        }
                    })
                    .then(data => {
                        updateDropdownList(data.files);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Error: " + error.message);
                    });
            });

            // Function to update the dropdown list of files
            function updateDropdownList(files) {
                var selectWigle = document.getElementById("selectWigle");
                selectWigle.innerHTML = "";
                files.forEach(function(file) {
                    var option = document.createElement("option");
                    option.value = file;
                    option.text = file;
                    selectWigle.appendChild(option);
                });
            }

            // Event listener for adding MAC to Whitelist
            document.getElementById("addToWhitelistButton").addEventListener("click", function(event) {
                event.preventDefault();
                var macAddress = document.getElementById("macWhitelistInput").value.trim();
                if (macAddress !== "") {
                    addToList('whitelistDropdown', macAddress);
                    document.getElementById("macWhitelistInput").value = "";
                    sendFetch('/add_to_whitelist', 'POST', { mac_address: macAddress })
                        .then(data => {
                            console.log(data);
                            alert(data.message);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert("Error: " + error.message);
                        });
                } else {
                    alert("Please enter a MAC address.");
                }
            });

            // Event listener for removing MAC from Whitelist
            document.getElementById("removeFromWhitelistButton").addEventListener("click", function(event) {
                event.preventDefault();
                var selectDropdown = document.getElementById('whitelistDropdown');
                var selectedOption = selectDropdown.options[selectDropdown.selectedIndex];
                if (selectedOption) {
                    var macAddress = selectedOption.value;
                    selectDropdown.removeChild(selectedOption);
                    sendFetch('/remove_from_whitelist', 'POST', { mac_address: macAddress })
                        .then(data => {
                            console.log(data);
                            alert(data.message);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert("Error: " + error.message);
                        });
                } else {
                    alert("Please select a MAC address from the whitelist.");
                }
            });

            // Event listener for adding MAC to Blacklist
            document.getElementById("addToBlacklistButton").addEventListener("click", function(event) {
                event.preventDefault();
                var macAddress = document.getElementById("macBlacklistInput").value.trim();
                var argbValue = document.getElementById("argbBlacklistInput").value.trim();
                if (macAddress !== "" && argbValue !== "") {
                    addToList('blacklistDropdown', macAddress, argbValue);
                    document.getElementById("macBlacklistInput").value = "";
                    document.getElementById("argbBlacklistInput").value = "";
                    sendFetch('/add_to_blacklist', 'POST', { mac_address: macAddress, argb_value: argbValue })
                        .then(data => {
                            console.log(data);
                            alert(data.message);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert("Error: " + error.message);
                        });
                } else {
                    alert("Please enter both a MAC address and an ARGB value.");
                }
            });

            // Event listener for removing MAC from Blacklist
            document.getElementById("removeFromBlacklistButton").addEventListener("click", function(event) {
                event.preventDefault();
                removeFromList('blacklistDropdown');
            });

            // Function to add MAC address to the dropdown list
            function addToList(dropdownId, macAddress, argbValue) {
                var selectDropdown = document.getElementById(dropdownId);
                var option = document.createElement("option");
                option.value = macAddress;
                option.text = macAddress;
                option.setAttribute("data-argb", argbValue);
                selectDropdown.appendChild(option);
            }

            // Function to remove selected MAC address from dropdown list and blacklist
            function removeFromList(dropdownId) {
                var selectDropdown = document.getElementById(dropdownId);
                var selectedOption = selectDropdown.options[selectDropdown.selectedIndex];
                if (selectedOption) {
                    var macAddress = selectedOption.value;
                    var data = { mac_address: macAddress };
                    sendFetch('/remove_from_blacklist', 'POST', data)
                        .then(data => {
                            console.log(data);
                            alert(data.message);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert("Error: " + error.message);
                        });
                    selectDropdown.removeChild(selectedOption);
                }
            }
        });
    </script>
</body>
</html>
